{% extends "base.html" %}

{% block content %}
<div>
<ul>
    {% for event in object_list %}
    <h3>
    <li>{{event.start_time|date:"F j, Y"}}: <a href="{% url 'liveupdate:event_live_id' event.pk %}">{{event.name}}</a></li>
    </h3>
    {% endfor %}
</ul>
</div>
{% endblock %}