{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

        {% if object_list %}
        <div id="update-holder">
                {% for object in object_list %}
                    <h2>
                        <a href="{% url 'liveupdate:event_live_id' object.pk %}">{{ object.name }}</a>
                    </h2>
                    {{object.start_time}}
                    {% if object.is_ended %}
                    (ended)
                    {% else %}
                    (ongoing)
                    {% endif %}
                {% endfor %}
        </div>
        {% endif %}

        <div class="pagination">
                <span class="step-links">
                    {% if object_list.has_previous %}
                        <a href="?page=1" class="btn btn-primary">First</a>
                        <a href="?page={{ object_list.previous_page_number }}" class="btn btn-secondary">Previous</a>
                    {% endif %}
            
                    <span class="current">
                        (Page {{ object_list.number }}/{{ object_list.paginator.num_pages }})
                    </span>
            
                    {% if object_list.has_next %}
                        <a href="?page={{ object_list.next_page_number }}" class="btn btn-secondary">Next</a>
                        <a href="?page={{ object_list.paginator.num_pages }}" class="btn btn-primary">Last</a>
                        
                    {% endif %}
                </span>
        </div>


{% endblock %}