{% extends "base.html" %} 
{% load static %}

{% block livescripts %}
<link rel="stylesheet" type="text/css" href="{% static 'css/live.css' %}">
<script type="text/javascript" language="javascript" src="{% static 'js/jquery-1.2.3.min.js' %}"></script>
<script type="text/javascript" language="javascript" src="{% static 'js/livescript_update.js' %}" >
</script>
<script>
    $(document).ready(function () {
    setInterval("update( {{event_id}} )", 15000);
})
</script>
{% endblock %}

{% block content %}
    <h1>{{event_name}} {{event_ended}}</h1>
    <p>Please do <b>not</b> refresh! Update every few seconds</p>

    {% if object_list %}
    <div id="update-holder">
        {% for object in object_list %}
        <div class="update {% cycle 'even' 'odd' %}" id="{{ object.id }}">
            <div class="timestamp">
                {{ object.timestamp }}
            </div>
            <div class="text">
                {{ object.text | linebreaksbr }}
            </div>
            <div class="clear"></div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No entries</p>
    {% endif %} 
{% endblock %}