{% extends "poll/base.html" %}

{% block poll_script %}
<script type="text/javascript">
var vote_url = "{% url 'poll:vote' poll.pk %}";
var result_url = "{% url 'poll:result' poll.pk %}";
document.addEventListener('DOMContentLoaded', function(){
    function showResults() {
        $.get(result_url, function(data) {
            $("#poll_container").html(data);
        });
    }
    $("#poll_send").click(function() {
        var item = $('#poll_form input[name=item]:checked').val();
        if (typeof item === "undefined") {
            alert("Please,choose  an answer'");
            return false;
        }
        $.get(vote_url, {item: item}, function() {
            showResults();
        });
        return false;
    });
});
</script>
{% endblock %}

<div id="poll_container">
	{% block poll_content %}
       <div class="poll_style">
    <form method="GET" action="" id="poll_form">
        <div class="poll-title">{{ poll.question }}</div>
        <ul>
            {% for item in items %}
            <li><input type="radio" name="item" id="item_{{ item.id }}" value="{{ item.id }}" />
                <label for="item_{{ item.id }}">{{ item.value }}</label></li>
            {% endfor %}
        </ul>
        <p class="poll_send"><input type="button" class="poll-btn-vote" id="poll_send" value="vote" /></p>
    </form>
</div>
	{% endblock %}
</div>