{% extends "poll/base.html" %}

{% load poll_tags %}

{% block poll_content %}

<div class="poll-result">
	<div class="poll-title">{{ poll.question }}</div>
	<ul>
		{% for item in items %}
		<li>{{ item.value }}: <b>{% filter floatformat %}{% percentage poll item %}{% endfilter %}%</b><br>
			<div class="indicator" style="width: {% percentage poll item %};"></div>
		</li>
		{% endfor %}
	</ul>
	<div class="total_votes">Total votes: <b>{{ poll.get_vote_count }}</b></div><br>
</div>
{% endblock %}
