{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ article.title }}{% endblock %} 

{% block content %}
<div id="content" class="blog-post">
  <h1>{{ article.title }}</h1>
  <p class="date">
    Published: {{ article.publish }} by {{ article.author }}
  </p>
  {% if article.cover_image %}
  <div style="height: 300px; position: relative; margin-left: auto; margin-right: auto;">
    <img style="max-height: 100%;  
                    max-width: 100%; 
                    width: auto;
                    height: auto;
                    position: absolute;  
                    top: 0;  
                    bottom: 0;  
                    left: 0;  
                    right: 0;  
                    margin: auto;" src="/media/{{ article.cover_image }}" alt="{{article.title}}" />
  </div>
  {% endif %}
  {{ article.body|safe|linebreaks }}
</div>
<div id="tags">
  <h4>
  {% for tag in article.tags.all %} <!--tag_list article.tag.all -->
    #<a href="{% url 'news_portal:tagged' tag.slug %}">{{ tag.name }}</a> 
  {% endfor %}
  </h4>
</div>
<div id="poll">
  {% load poll_own_tags %} {% poll %}
</div>


<div id="disqus_thread"></div>
<script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function () { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://sportblog-1.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>



{% endblock %}