{% extends "base.html" %} 
{% load static %} 
{% block title %}Moja strona{% endblock %} 
{% block content %}
<h3 class="pb-3 mb-4 font-italic border-bottom">
  Articles
</h3>

<div id="content" class="blog-post">
  {% for art in articles %}
  <div class="paragraphs">
    <div class="row">
      <div class="span4">
	      <div style="float:left; width:200px; height: 125px; position: relative;">
        {% if art.cover_image %}
          <a href="{{ art.get_absolute_url }}">
          <img style="max-height: 100%;  
                          max-width: 100%; 
                          width: auto;
                          height: auto;
                          position: absolute;  
                          top: 0;  
                          bottom: 0;  
                          left: 0;  
                          right: 0;  
                          margin: auto;" src="/media/{{ art.cover_image }}" alt="{{art.title}}" class="img-thumbnail" />
          </a>  
	      {% endif %}
	      </div>
        <div class="content-heading">
          <h2>
            <a href="{{ art.get_absolute_url }}">{{ art.title }}</a>
          </h2>
          {{ art.body|safe|linebreaks|truncatechars_html:20 }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  <span class="step-links">
    {% if articles.has_previous %}
    <a href="?page=1" class="btn btn-primary">First</a>
    <a href="?page={{ articles.previous_page_number }}" class="btn btn-secondary">Previous</a>
    {% endif %}

    <span class="current">
      (Page {{ articles.number }}/{{ articles.paginator.num_pages }})
    </span>

    {% if articles.has_next %}
    <a href="?page={{ articles.next_page_number }}" class="btn btn-secondary">Next</a>
    <a href="?page={{ articles.paginator.num_pages }}" class="btn btn-primary">Last</a>

    {% endif %}
  </span>
</div>

{% endblock %}