{% extends "base.html" %}

{% block content %}

    <h1>Contact Us</h1>

    {% if status == "ok" %}
    <div class="alert alert-success" role="alert">{{alerttext}}</div>
    {% elif status == "error" %}
    <div class="alert alert-danger" role="alert">{{alerttext}}</div>
    {% endif %}
{% endblock %}