{% extends "base.html" %}

{% block content %}

    <h1>Contact Us</h1>

    <form method="post">
        {% csrf_token %}  
        <div class="form-group">
            <label for="id_from_email">From email:</label>
            <input type="email" class="form-control" name="from_email" required id="id_from_email" placeholder="Enter email">
        </div>

        <div class="form-group">
            <label for="id_subject">Subject:</label>
            <input type="text" class="form-control" name="subject" required id="id_subject" maxlength="250">
        </div>

        <div class="form-group">
            <label for="id_content">Message content:</label>
            <textarea class="form-control" name="content" cols="40" rows="10" maxlength="1000" required id="id_content"></textarea>
        </div> 

        <div class="form-actions">
        <input type="submit" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}