{% block aside %}
<aside class="col-md-4 blog-sidebar">

  <div class="p-3">

    <h4 class="font-italic">Articles - Archives</h4>
    {% regroup all_articles by publish.year as year_list %}
    <ul>
      {% for year in year_list %}
      <li> {{year.grouper}} {% regroup year.list by publish.month as month_list %}
        <ul>
          {% for month in month_list %}
          <li>
            <a href="{% url 'news_portal:post_archive_month' year.grouper month.grouper %}">
              {{ month.list.0.publish|date:'F' }} ({{month.list|length}})
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>

    <h4 class="font-italic">Article - Tags</h4>

    <ul>
      {% for tag in tag_list %}
      <li>
        <a href="{% url 'news_portal:tagged' tag.slug %}">
          {{ tag.name }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <h4 class="font-italic">Ongoing events</h4>
    {% regroup ongoing_live_events by start_time.year as year_list %}
    <ul>
      {% for year in year_list %}
      <li> {{year.grouper}} {% regroup year.list by start_time.month as month_list %}
        <ul>
          {% for month in month_list %}
          <li>
            <a href="{% url 'liveupdate:event_archive_month' year.grouper month.grouper %}">
              {{ month.list.0.start_time|date:'F' }} ({{month.list|length}})
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
  <!--
            <div class="p-3">
              <iframe src="http://www.unogoal.com/free_livescore.aspx" width="100%" height="200"  scrolling="auto" frameborder="0"></iframe><p style="text-align: center;"><a href="http://www.unogoal.com" title="Soccer livescore for blog or website. Get yours now."><img src="http://www.unogoal.com/images/banners/free_livescore_for_website.png" alt="Free livescore from Unogoal.com" title="Free livescore from Unogoal.com" /></a></p> 
            </div>
  -->

</aside>
{% endblock %}