 {% block footer %}

<footer class="blog-footer" style="background-color: {{footer_bg}}; color: {{footer_txt}};">
  <p>{{label.footer_text}}</p>
  <p>Blog template built for
    <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock %}