{% load static %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>{{label.tab_title}}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap3/bootstrap.min.css' %}">
<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'css/bootstrap3/bootstrap-theme.min.css' %}">

<link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
{% block script %}{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet" media="none" onload="if(media!='all')media='all'"> 
{% block livescripts %}{% endblock %} 
{% endblock %}