{% load sitetree %} {% load pagetree_own_tags %} 
{% block header %}
<div class="container" style="background-color: {{header_bg}}; color: {{header_txt}};">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="{% url 'news_portal:article_list' %}">{{label.header_text}}</a>
      </div>
    </div>
  </header>
  {% sitetree_tree from "main" include "trunk,topmenu" template "sitetree/nav_root_menu.html" %}
</div>
{% endblock %}