{% load sitetree %} {% for item in sitetree_items %}
<li {% if item.is_current %}class="active" {% endif %}>
    <a href="{% sitetree_url for item %}">{{ item.title_resolved }}</a>
</li>
{% if item.has_children %}
<li>
    {% sitetree_children of item for menu template "sitetree/nav_root_menu_children.html" %}
</li>
{% endif %} {% endfor %}