<!doctype html> 
{% load static %} {% load sitetree %} {% load pagetree_own_tags %}

<html lang="en">

<head>
  {% block head %}{% endblock %} 
  {% include "layout/head.html" %}
  <style>
    #flex-wrapper {
      display: flex;
      min-height: 70vh;
      flex-direction: column;
    }

    div {
      text-align: justify;
      text-justify: inter-word;
    }
  </style>
</head>

<body style="background-color: {{page_bg}};">
  {% include "layout/header_nav.html" %}

  <div class="container" style="background-color: {{content_bg}}; color: {{content_txt}};">
    <div id="page_content">
      <div class="container">
        <main role="main" class="container">
          <div class="row">
            <div id="flex-wrapper" class="col-md-8 blog-main">
              {% block content %}{% endblock %}
            </div>
            {% include "layout/aside.html" %}
          </div>
        </main>
      </div>
    </div>
  </div>

  {% include "layout/footer.html" %} {% block livescripts %}{% endblock %}
  <script type="text/javascript" language="javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="{% static 'js/bootstrap3/bootstrap.min.js' %}"></script>
</body>

</html>