{% extends "base.html" %}

{% block content %}
<div>
<ul>
    {% for article in object_list %}
    <h3>
    <li>{{article.publish|date:"F j, Y"}}: <a href="{{article.get_absolute_url}}">{{article.title}}</a></li>
    </h3>
    {% endfor %}
</ul>
</div>

<p>
    {% if previous_month %}
    Previous month: {{ previous_month|date:"F Y"}}
    {% endif %}
    {% if previous_month and next_month %} | {% endif %}
    {% if next_month %}
    Next Month: {{ next_month|date:"F Y"}}
    {% endif %}
</p>
{% endblock %}