{% extends "base.html" %}

{% block content %}
<div>
<ul>
    {% for article in article_list_by_tag %}
    <h3>
    <li>{{article.publish|date:"F j, Y"}}: <a href="{{article.get_absolute_url}}">{{article.title}}</a></li>
    </h3>
    {% endfor %}
</ul>
</div>
{% endblock %}