{% extends "base.html" %} 
{% load static %} 
{% block title %}{{ article.title }}{% endblock %} 
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <div id="content" class="blog-post">
                {{ page_content | safe }}
            </div>
        </div>
        <!-- /.blog-main -->
    </div>
    <!-- /.row -->
</main>
<!-- /.container -->

{% endblock %}