{% load pagetree_own_tags %}

<ul class="nav nav-pills">
    {% for item in pages %}  
        {% if item.status == "published" %}
        <li class="active">
            <a href="{{item.url}}">{{ item.label }}</a>
        </li>
        {% endif %}      
    {% endfor %}
</ul>
